.carrito {
    cursor: pointer;
    font-size: xx-large;
    text-decoration: none;
    color: white;
}
.badge {
    position: relative;
    font-weight: 100;
    color: goldenrod;
    border-style: ridge;
    padding: 2px 5px;
    border-radius: 1000px;
    top: -21px;
    margin-left: 8px;
    font-size: large;
    text-decoration: none;
}