.body {
    font-family: "Courier New", Courier, monospace ;
    font-size: calc(26px + 2vmin);
    color: #FFF9F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    flex-wrap: wrap;
    position: relative;
}
