.producto-Tarjeta {
    width: 250px;
    border: solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 2rem;
    background-color: rgba(17, 16, 16, 0.5);
}

.producto-Titulo {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
}

.producto-Descripcion {
    font-size: 17px;
    opacity: .8;
    margin-bottom: 3px;
}

.producto-Imagen{
    margin: 15px 0 0px;
    opacity: 1 !important;
}

.producto-Footer {
    padding: 10px 10px 0px;
}

.producto-Precio {
    color: grey;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    margin-top: 4px;
}

.producto-Boton {
    position: relative;
    z-index: 1;
    float: right;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: orange;
    padding: 12px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    line-height: .95;
    border: none;
    background: none;
    outline: none;
    border: 1px solid orange;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
}

.producto-Boton:hover {
    color: white !important;
    border: 1px solid white !important;
}

.producto-Bodega{
    font-size: 12px;
}

